<%- include('partials/header.ejs') %>
    <main id="main">
        <section id="features" class="features" >
            <div class="container">
      
              <div class="section-title" style="margin-top: 20px !important;">
                <h2>COMPLETED TO-DO</h2>
                  <% for(const todo of Onetodo) { %>
                    <div style="background-color:#2d405f; color: white;">
                      <div class="mb-3 row">
                        <label for="staticEmail" class="col-sm-2 col-form-label">Unique Id</label>
                        <div class="col-sm-10" style="font-size: 22px !important;">
                          <input type="text" readonly style="color: white !important;" class="form-control-plaintext" id="staticEmail" value="<%= todo.uniqueId  %>">
                        </div>
                      </div>

                      <div class="mb-3 row">
                        <label for="staticEmail" class="col-sm-2 col-form-label">Description</label>
                        <div class="col-sm-10" style="font-size: 22px !important;">
                          <input type="text" readonly style="color: white !important;" class="form-control-plaintext" id="staticEmail" value="<%= todo.description  %>">
                        </div>
                      </div>

                      <div class="mb-3 row">
                        <label for="staticEmail" class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-10" style="font-size: 22px !important;">
                          <input type="text" readonly style="color: white !important;" class="form-control-plaintext" id="staticEmail" value="Status & Reward">
                        </div>
                        <div class="input-group mb-3">
                          <div class="input-group-text">
                            <input class="form-check-input mt-0" readonly type="checkbox" aria-label="Checkbox for following text input" checked disabled>
                          </div>
                          <input type="text" readonly class="form-control" value="<%= todo.reward %>" aria-label="Text input with checkbox">
                        </div>
                      </div>

                    </div>
                  <% } %>  
                  <a href="/completedtodos" class="btn" style="background-color:#2d405f; color: white;"> &lt;&lt; Back to completed Todos</a>
              </div>


            </div>
          </section>
        
    </main>
    